.watch{ 
  width: 80px;
  position: relative;
  position: fixed;
  right: 40px;
  bottom: 46px;
  _position: absolute;
  z-index: 99;
  _margin-top: 518px;
  _top:expression(eval(document.documentElement.scrollTop));
}
.watch-btn{
  display: block;
  width: 82px;
  height: 39px;
  background: url(images/back.png) no-repeat left top;
  text-indent: -999px;
  overflow: hidden;
  &:hover{
    background-position: right top;
  }
}

.watch-code{
  display: none;
  width: 106px;
  height: 142px;
  padding: 11px;
  background: url(images/wx-pop.png) no-repeat left top;
  _background: url(images/wx-pop-8.png) no-repeat left top;
  position: absolute;
  z-index: 33;
  top: -170px;
  left: -24px;
  img{
    width: 106px;
    height: 106px;
    vertical-align: top;
  }
  p{
    display: block;
    margin: 0 0 9px;
    line-height: 28px;
    text-align: center;
    color: #464646;
    text-indent: 0;
    font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
    font-size: 14px;
  }
}